<% @user.folders.each do |folder| %>
  <div class="card">
    <div class="card-body">
      <a href="<%="/#{@user.username}/#{folder.name}"%>"><h5 class="card-title text-muted"> <%= folder.name %></h5></a> 
      <% folder.feeds.each do |feed| %>
        <div class="card-text">
          <a href="<%="/#{feed.title}"%>"><p class="text-muted">⏺ <%= feed.title %></p></a>
        </div>
      <%end%>
    </div>
  </div>
<%end%>