<<<<<<< HEAD


=======
>>>>>>> development
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 bg-secondary text-white">
      <div class="sticky-top sticky-offset">
        <%= render "all_folders_and_feeds"%>
      </div>
    </div>
    <div class="col-md-8 bg-light text-dark">
      <%= render "posts" %>
    </div>
  </div>
</div>
