
 <%= form_for @user, url: '/delete', method: :delete do |f|%>

    <div class="form-group">

        <%= f.label :password, "Enter Password to Confirm Deletion"%>
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>

    </div> 

    <%= f.submit "Delete Account", class: "btn btn-default btn-warning btn-block" %>

<%end%>