<h3> Edit User Details </h3>

<div class="card">
  <div class="card-body">
    <%= render "/settings/edit_user_details"%>
  </div>
</div>


<h3> Change Password </h3>

<div class="card">
  <div class="card-body">
    <%= render "/settings/change_password"%>
  </div>
</div>


<h3> Delete Account </h3>

<div class="card">
  <div class="card-body">
    <%= render "/settings/delete_account"%>
  </div>
</div>


