<%# form_tag ({controller: 'subscription', action: 'create_folder', method: 'post'}) do %>
<%= form_for @folder, url: '/create_folder', method: :post do |f|%>
    <div class="form-group">
        <%= f.label :name, "Folder Name"%>
        <%= f.text_field :name, class: "form-control", placeholder: "Folder Name" %>
    </div> 
    <%= f.submit 'Add Folder', class="btn btn-default btn-primary btn-block">
<% end %>
