/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  background: #f8f9fa !important;
  height: 100%;
}

footer {
  font-size: 12px;
  padding-top: 10px;
}

.form-container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: flex;
}

.card {
  margin: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  max-height: 60%;
  max-width: 60%;
}

a:hover {
  text-decoration: none !important;
}

.alert {
  font-size: 12px;
}

.sticky-offset {
  top: 80px;
}
