<footer class="navbar fixed-bottom navbar-footer bg-dark text-muted">
  <div class="container text-center">
    <p>gRSSly is a lightweight, open-source RSS reader built by Gordy Lanza and Flo Stagliano. We built it with Rails, postgres, and Bootstrap. Check out our repo on <a href="https://github.com/gortron/rss_app" target="_blank">github.</a><br>Made with ❤️ © 2019</p>
  </div>
</footer>
