<!-- Footer -->
<footer class="footer static-bottom bg-dark text-muted">
  <!-- Footer Links -->
  <div class="container-fluid">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 text-center">
        <!-- Content -->
        <h6> About Us </h6>
        <p>gRSSly is a lightweight, open-source RSS reader built by Gordy Lanza and Flo Stagliano. We built it with Rails, postgres, and Bootstrap. Check out our repo on <a href="https://github.com/gortron/rss_app" target="_blank">github.</a></p>
        <p>Made with ❤️ © 2019</p>
      </div>
    </div>
  </div>
</footer>
